<div class="modal fade" id="forgotuser_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <button type="button" class="close" ng-click="closeForgotUserPopup(forgotUserFrm)" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <div class="red_bar text-center">
        <a href="index.html"><span class="logo no_float inline-block"></span></a>
        <div class="clearfix"></div>
      </div>
      <hr class="m_0">
	  
      <div class="text-left red_check p_15">
	  <a href="javascript:void(0);" class="forgot" ng-click="showSignInPopup(forgotUserFrm)"> Go back to Sign In</a>
        <h4>Forget Your Username?
          <br>
          <span class="h2_lower">Please enter the email address registered on your account.</span></h4>
		<div class="alert alert-success" ng-show="forgotUserStatus">
		  <strong>Success!</strong> We have sent your username to your registered email. please check your inbox.
		</div> 
		<div class="alert alert-danger" ng-show="forgotUserDeletedStatus">
		   {{forgotUserDeletedMessage}}<!-- <strong>Success!</strong> -->
		</div>  
        <form name="forgotUserFrm" ng-submit="forgotUserFrm.$valid && resetuser(forgotUserFrm)"  ng-hide="forgotUserStatus || forgotUserDeletedStatus" novalidate>
          <br>
          <div class="animation_text m_b10">
			<!-- <label for="user"><i class="fa fa-user"></i> Email</label> -->
            <input ng-model="user.emailId" id="user" autocomplete="off" placeholder="Email" type="text" required>
            <span ng-show="forgotUserFrm.emailId.$error">Please fill the E-mail Id</span>
          </div>
          <br>
          <p ng-show="hasError" class="error">Unable to process request, Please try again.</p>
          <div class="clear15"></div>
          <button type="submit " class="btn custom_btn btn-block">Submit</button>
        </form>
      </div>

      <div class="clear30"></div>

    </div>
  </div>
</div>
