<div class="modal fade" id="news_pop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog news" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">People's feeling about - {{newsSource}}
        <!-- <img src="images/news.png" alt="news"> <a class="news_share" href="#"> --><i class="fa fa-share-alt"></i> Share</a> <span>31 Oct 16</span></h4>
      </div>
      <div class="modal-body">
      <p>More than 50% thinks</p>
	  <ul class="list_popup">
	  <li><a href="#">Sad</a></li>
	  <li><a href="#">Baised</a></li>
	  <li><a href="#">Advert</a></li>
	  <li><a href="#">Plagrism</a></li>
	  <li><a href="#">Facts</a></li>
	  <li><a href="#">Format</a></li>
	  <li><a href="#">Intresting</a></li>
	  <li><a href="#">Informative</a></li>
	  <li><a href="#">Attractive</a></li>
	  <li><a href="#">Ethical</a></li>
	  </ul>
	  <div class="clearfix"></div>
	  
      <div class="text-center" zingchart id="RatingChart_negative" zc-json="myJson" zc-height=130 style="display:block;" ng-show="isAggregationPresent"></div>
      
      <div class="text-center" zingchart id="RatingChart_positive" zc-json="myJson1" zc-height=130 style="display:block;" ng-show="isAggregationPresent"></div>
     
      <div class="text-center" zingchart id="RatingGraph" zc-json="myJson2" zc-height=200 style="display:block;" ng-show="isAggregationPresent"></div>
     
      </div>
	 </div>
	  <ul class="tab_right">
		<li><a href="#">Related Media Houses</a></li>
		<li><a id="JagransGroup" href="#">Jagran Group</a></li>
		<li><a id="IndianExpress" href="#">Indian Express</a></li>
		<li><a  id="TheHindu" href="#">The Hindu</a></li>
		<li><a id="NDTV" href="#">NDTV</a></li>
		<li><a id="AAJTAK" href="#">AAJ TAK</a></li>
		<li><a id="ZeeNews" href="#">Zee News</a></li>
		<li><a  id="FirstPost" href="#">FirstPost</a></li>
		<li><a  id="HindustanTimes" href="#">Hindustan Times</a></li>
	<!-- 	<li><a href="#">See All <i class="fa fa-plus-square-o"></i></a></li> -->
	  </ul>
      
    </div>
  </div>
</div>
