<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Social Media Platform for Politics - Govrnn</title>
	<meta name="description" content="">
	<link rel="apple-touch-icon" sizes="57x57" href="images/fevicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="images/fevicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/fevicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="images/fevicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/fevicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="images/fevicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/fevicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="images/fevicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="images/fevicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="images/fevicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="images/fevicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="images/fevicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="images/fevicon/favicon-16x16.png">
	<link rel="manifest" href="images/fevicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="images/fevicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
		
	<meta name="viewport" content="width=device-width">
	<link href="thirdparties/bootstrap-3.3.7-dist/css/bootstrap.min.css"
		  rel="stylesheet">
	<link
			href="thirdparties/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.min.css"
			rel="stylesheet">
	<link
			href="thirdparties/bootstrap-datepicker-1.6.4-dist/css/bootstrap-datepicker.standalone.min.css"
			rel="stylesheet">
	<link href="thirdparties/font-awesome-4.7.0/css/font-awesome.min.css"
		  rel="stylesheet">
	<link href="styles/style.css" rel="stylesheet">
	<link href="styles/responsive.css" rel="stylesheet">
	<link href="styles/main.css" rel="stylesheet">
	<link rel="stylesheet"
		  href="thirdparties/pinning-editor/css/custom-css.css" type="text/css"
		  media="screen" />
	<link rel="stylesheet" href="thirdparties/tribute/tribute.css" />
	<link href="thirdparties/css/angucomplete.css" rel="stylesheet">
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	
	<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	
</head>
<body ng-app="govrnnApp">
 <div id="hola">
        <div id="preloader">
        <span></span>
        <span></span>
          </div>
            </div> 
<div class="full_content_main">
	<div class="full_content_main">
		<ul class="left_nav">
		  <li><a class="close_nav" href="#"><span class="icon_nav arrow"></span></a></li>
		  <li><a href="#" data-toggle="tooltip" data-placement="bottom" data-original-title="Home"><span class="txt">Home</span><span class="icon_nav home"></span></a></li>
		  <li ng-show="isUserLoggedIn()"><a href="/#/personality?id={{userData[0].id}}" data-toggle="tooltip" data-placement="bottom" data-original-title="Your Personality"><span class="txt">Your Personality</span><span class="icon_nav user"></span></a></li>
		  <li><a href data-toggle="tooltip" data-placement="bottom" data-original-title="This feature is coming soon!" ng-click="featureComingSoon()"><span class="txt">Your Activities</span><span class="icon_nav msg"></span></a></li>
		  <li><a href data-toggle="tooltip" data-placement="bottom" data-original-title="This feature is coming soon!" ng-click="featureComingSoon()"><span class="txt">Contest</span><span class="icon_nav cont"></span></a></li>
		  <li><a data-toggle="tooltip" data-placement="bottom" data-original-title="This feature is coming soon!" href ng-click="featureComingSoon()"><span class="txt">See All Viral Video/Images</span><span class="icon_nav cam"></span></a></li>
		  <!--<li><a href="#" onlick="feaureComingSoon(); return false;"><span class="txt">View All Verdic</span><span class="icon_nav graph"></span></a></li> -->
<!-- 		  <li><a href data-toggle="tooltip" data-placement="bottom" data-original-title="Raise your Opinion" ><span class="txt">Raise Your opinion</span><span class="icon_nav opin"></span></a></li> -->
		  <li><a href data-toggle="tooltip" data-placement="bottom" data-original-title="This feature is coming soon!" ng-click="featureComingSoon()"><span class="txt">Be a Leader</span><span class="icon_nav lead"></span></a></li>
		  <li><a href="/#/viewAllOpinion" data-toggle="tooltip" data-placement="bottom" data-original-title="View All Opinions" ><span class="txt">View All Opinions</span><span class="icon_nav govt"></span></a></li>
		  <li><a href="/#/fag"  data-toggle="tooltip" data-placement="bottom" data-original-title="FAQ - Govrnn&apos;s methodology"><span class="txt">FAQ - Govrnn&apos;s methodology</span><span class="icon_nav noti"></span></a></li>
		  <li><a href="#/aboutUs" data-toggle="tooltip" data-placement="bottom" data-original-title="About Us"><span class="txt">About Us</span><span class="icon_nav about"></span></a></li>
		</ul>
		<header class="p_excludeMenu" ng-class="{user:isUserLoggedIn()}">
			<div class="top_bar">
				<div class="outer">
					<form class="search" method="post" id="search_form">
						<div class="card-drop" >
							<a class='toggle' href="javascript:void(0)" id="arrw_bar"><i
									class="icn_srh all" id="arrw"></i></a>
							<ul id="search_drp">
								<li class='active'><a data-label="Skills"
													  href="javascript:void(0)" ng-click="SearchValueFunction(1)"><i
										class="icn_srh all"></i> All</a></li>
								<li><a data-label="Html5" href="javascript:void(0)"
									   ng-click="SearchValueFunction(2)"><i
										class="icn_srh people"></i> People</a></li>
								<li><a data-label="CSS3" href="javascript:void(0)"
									   ng-click="SearchValueFunction(3)"><i class="icn_srh opin"></i>
									Opinion</a></li>
								<!-- <li><a data-label="Linux"
									   href="javascript:void(0)javascript:void(0)javascript:void(0)"
									   ng-click="SearchValueFunction(4)"><i class="icn_srh verd"></i>
									Sentiment</a></li> -->
<!-- 								<li><a data-label="Linux" href="#"><i class="icn_srh verd"></i> Verdict</a></li> -->
<!-- 								<li><a data-label="Indicator" href="#"><i class="fa fa-pie-chart"></i> Indicator</a></li> -->
<!-- 								<li><a data-label="Problem" href="#"><i class="fa fa-exclamation-triangle"></i> Problem</a></li> -->
<!-- 								<li><a data-label="Video" href="#"><i class="fa fa-video-camera"></i> Video</a></li> -->
							</ul>
						</div>
						<input type="search" value="" id="searchInputFld"
							   placeholder="Search Opinion, People ... please enter at least 3 characters"
						 ng-model="searchValues"> <input type="submit"
														  value="" ng-click="searchFunction()">
					</form>
				</div>

				<a href="javascript:void(0)" class="earn animation" title=""
				data-toggle="tooltip" data-placement="bottom" data-original-title="Feature Coming Soon!"></a>
				<!-- 						<a data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Please choose Support if you support government on this matter or Against if you are against it." href="javascript:void(0)"> -->
<!-- 							<i class="fa fa-question-circle"></i> -->
<!-- 						</a> -->
				<a class="refer"  data-target="#refer" href="javascript:void(0)"  data-toggle="tooltip" data-placement="bottom" data-original-title="Feature Coming Soon!" class="not-active">Refer a Friend Link</a>
				

				<ul class="social">
					<li><a href="javascript:void(0)" id="dropdownMenu3"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						   class="social_top msg" ng-click=getTopNotifications()> <span
							class="badge badge-error"
							style="margin-left: 15px; margin-bottom: 6px;">{{notificationCount}}</span>
					</a>
						<ul class="video_vic notification"
							aria-labelledby="dropdownMenu3">
							<li class="title" ng-if="TopNotificationsLoginflag == true"><h2>Opinion Notifications</h2></li>
							<li ng-if="TopNotificationsLoginflag == true && $index < 10" ng-repeat="top in TopnotificationCount"
								ng-class="{'unreadli':top.status == 'Unread'}"
								ng-click="changeStatus(top)">
								<a href="#/viewOpinion?id={{top.id}}" class="opin_noti"  style="text-decoration:none;">
										<span>{{top.title}}</span> 
										<span ng-class="{true: 'protype', false: 'antitype'}[top.type == 'Pro']">{{top.type}}</span>
										<div class="clearfix"></div> <span class="time"><i class="fa fa-clock-o"></i> {{top.formattedAge}}</span>
									<span>
									<img
									ng-src="{{top.imageUrl}}" alt=""
									width="15"> {{top.user.title}}</a></span><span class="senti">{{top.category}}</span>
								
								</a>
								</li>
								
							<li ng-if="TopNotificationsLoginflag == true && TopnotificationCount.length>10"><a href="javascript:void(0)"
																			 class="custom_btn btn-block text-center"
																			 ng-click="AllOpinionNotification()">View All</a></li>
							<li class="title" ng-if="TopNotificationsLoginflag == false"><h2>Please login to view notifications</h2></li>
						</ul>
					</li>
					<li>
					<li><a href="javascript:void(0)" id="dropnoti"
						   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						   class="social_top noti" ng-click="getGeneralNotifications()">
								<span class="badge badge-error"
									  style="margin-left: 15px; margin-bottom: 6px;">{{generalNotificationCount}}</span>
					</a>
						<ul class="video_vic" aria-labelledby="dropnoti">
							<li ng-if="GeneralNotificationsLoginflag == true" class="title"><h2>Notifications</h2></li>
							<li  ng-if="GeneralNotificationsLoginflag == true && $index < 10" ng-repeat="top in GeneralnotificationCount"
								 ng-class="{'unreadli':top.status == 'Unread'}"
								 ng-click="changeStatus(top)" style="position: relative;" >
								 <a href="{{top.url}}">
								 <!-- <a href="#/personality?id={{top.user.id}}" style="text-decoration:none;"> -->
								 <span class="type_vid"><img ng-src="{{top.imageUrl}}" alt=""
												style="height: 44px;" height="110px" width="120px">
								</span>
								<!-- </a>  -->
								<span class="right_bx"> {{top.user.title}} <span
									style="font-size: 12px; color: #999;">
											{{top.title.split('$')[1]}} </span> 
									{{top.componetType}}.
										<div class="clearfix"></div> <span class="time"><i
										class="fa fa-clock-o"></i> {{top.formattedAge}}</span>
								</span></a></li>
							
							<li ng-if="GeneralNotificationsLoginflag == true && GeneralnotificationCount.length>10"><a
									class="custom_btn btn-block text-center"
									href="javascript:void(0)" ng-click="generalNofication()">View
								All</a></li>
							<li class="title" ng-if="GeneralNotificationsLoginflag == false"><h2>Please login to view notifications</h2></li>
						</ul></li>

					<li>
						<!-- <a href="javascript:void(0)" id="dropshare" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="social_top loud"><span class="blink"></span></a>
                    <ul class="video_vic" aria-labelledby="dropshare">
                        <li class="title"><h2>Connect Notification</h2></li>
                        <li>
            <span class="type_vid">
                    <img src="images/img_comment.png" alt="">
            </span>
            <span class="right_bx">
                <h2 class="inline">Rohit Roy</h2> <span><i class="fa fa-map-marker"></i> Mohali</span>
                <div class="clearfix"></div>
                <a href="javascript:void(0)" class="mut_frd">4 mutual friends</a> <span>Friend</span> <a class="custom_btn yes" href="javascript:void(0)">Accept</a> <a class="custom_btn no" href="javascript:void(0)">Reject</a>

            </span>
                            <span class="typ_con">CONNECT</span>
                        </li>
                        <li>
            <span class="type_vid">
                    <img src="images/vid_noti.jpg" alt="">
            </span>
            <span class="right_bx">
                <h2 class="inline">Agusta Westland</h2> <span><i class="fa fa-map-marker"></i> Mohali</span>
                <div class="clearfix"></div>
                <h2 class="inline"><span>Invited By</span> <a href="javascript:void(0)">Rajesh Rao</a></h2> <a class="custom_btn yes" href="javascript:void(0)">Accept</a> <a class="custom_btn no" href="javascript:void(0)">Reject</a>
            </span>
                            <span class="typ_con">Task</span>
                        </li>

                        <li>
                            <a href="javascript:void(0)" class="custom_btn btn-block text-center">View All</a>
                        </li>
                    </ul>
-->
					</li>
				</ul>
			</div>
			<div class="navbar-static-top">
				<div class="navbar-header">
					<button aria-controls="bs-navbar" aria-expanded="false"
							class="collapsed navbar-toggle" data-target="#bs-navbar"
							data-toggle="collapse" type="button">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a href="#/" class="navbar-brand"><span class="logo"></span></a>
				</div>
				<nav id="bs-navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav menu_header">
						<li><a class="active" href="#"><span
								class="header_nav discuss"></span> Discuss</a></li>
<!-- 						<li> <a href="#"><span class="header_nav wall"></span>Wall</a> </li> -->
						<li> <a href data-toggle="tooltip" data-placement="bottom" data-original-title="Feature Coming Soon!" ><span class="header_nav judge"></span>Judge Govt</a> </li>
						<li> <a href data-toggle="tooltip" data-placement="bottom" data-original-title="Feature Coming Soon!" ><span class="header_nav problem"></span>Problems</a> </li>
					</ul>
					<ul class="nav navbar-nav menu_header navbar-right before_login">
						<li ng-hide="isUserLoggedIn()"><a href="javascript:void(0);"
														  ng-click="loginNow()"><span
								class="fa fa-sign-in"></span> Login</a></li>
						<li ng-hide="isUserLoggedIn()"><a href="javascript:void(0);"
														  ng-click="signUpNow()"><span
								class="fa fa-pencil-square-o"></span> SignUp</a></li>
						<!--  <li ng-show="isUserLoggedIn()"><a href="javascript:void(0);"
														  ng-click="logout()"><span class="logout"></span> Logout</a></li>-->
					</ul>
				</nav>
			</div>
			<div class="user_pic" ng-show="isUserLoggedIn()" style="right:0; top:0;">
				<img ng-src="{{getUserImage()}}"
						id="indx_user_img" alt="" width="128px" height="110px">
				<div class="user_name">{{userData[0].name}}</div>
				<div id="fat-menu" class="dropdown">
					<a href class="dropdown-toggle" id="drop3"
					   data-toggle="dropdown" role="button" aria-haspopup="true"
					   aria-expanded="false"><span class="fa fa-bars"> </span> </a>
					<ul class="dropdown-menu" aria-labelledby="drop3">
						<li>
							<!-- <a href="#">My Feed</a> -->
						</li>
						<li><a href="/#/personality?id={{userData[0].id}}">View Personality</a></li>
						<li><a href="/#/userSetting/id={{userData[0].id}}&tabNumber=3">Change Password </a></li>
						<li><a href="/#/userSetting/id={{userData[0].id}}&tabNumber=1">Change Contact Details</a></li>
						<li><a href="/#/userSetting/id={{userData[0].id}}&tabNumber=2">User & Privacy Settings</a></li>
						<li><a href="#" ng-click="logout()">Logout</a></li>
		
						<li>
							<!-- <a href="#">My Connections</a> -->
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="full_bg p_excludeMenu">
			<div class="do_some">
				<!--Do Something --> <i class="qust" data-toggle="tooltip"
								data-placement="bottom" title="You can raise your opinion on any sentiment (current/ongoing issues in India).You must either raise your opinion in favour or against of govt for that sentiment. It will add points in to govt perception graph."></i> <a
					href="javascript:void(0)" ng-click="openOpinion(0);"
					class="btn btn-default red-half"><i class="fa fa-comments"></i>
				<span>Your opinion</span></a>
				
<!-- 				<button type="button" class="btn btn-default red"><span class="leader"></span> Be Leader</button> -->
<!-- 				<button type="button" data-toggle="modal" data-target="#videopic" class="btn btn-default red"> -->
<!-- 				<span class="videpic"></span> Submit Videopic</button> -->
			</div>
			<img src="images/govrnn_bar.png" alt="" class="graph_bar">
			<div class="do_some other">People's Voice <i class="fa fa-question-circle" data-toggle="tooltip" data-placement="bottom" title=" You can view your opinion by going on the (view all opinions) option. You can also take part in poll and cast your vote on any of the sentiments."></i>
			<a href="#/viewAllOpinion" class="m_l15 custom_btn"><span class="fa fa-comments"></span> View all Opinions</a>
<!-- 			<a href="#" class="m_l15 custom_btn"><span class="fa fa-video-camera"></span> View all Videopic</a> -->
			</div>
		</div>
	</div>
	<div class="clearfix p_excludeMenu"></div>
	<!-- The dynamic body content handeled here-->
	<div class="p_container p_excludeMenu">
		<div ng-view=""></div>
	</div>
</div>
<!--including the directives-->
<signup-modal></signup-modal>
<login-modal></login-modal>
<plain-opinion-modal></plain-opinion-modal>
<forgotpwd-modal></forgotpwd-modal>
<forgot-user-modal></forgot-user-modal>
<privacy-policy></privacy-policy>
<cookie-policy></cookie-policy>
<delete-modal></delete-modal>
<news_modal></news_modal>
<footer>
	<ul class="nav navbar-nav">
		<li><a href>Copyright @ 2016 Govrnn. All rights reserved.</a></li>
		<li><a href="#/userAgreement">Terms and Conditions</a></li>
		<li><a href="#/privacyPolicy">Privacy Policy</a></li>
		<li><a href="#/communityGuidelines">Community Guidelines</a></li>
		<li><a href="#/cookiePolicy">Cookie Policy</a></li>
		<li><a href="#/aboutUs">About Us</a></li>
		<!-- <li><a href="#/copyrightPolicy">Copyright Policy</a></li> -->
	</ul>
</footer>
<script src="thirdparties/js/jquery.min.js"></script>
	<script src="thirdparties/angular/angular.min.js"></script>
	<script src="thirdparties/angular/angular-route.min.js"></script>
	<script src="thirdparties/angular/angular-sanitize.min.js"></script>
	<script src="thirdparties/angular/angular-animate.min.js"></script>
	<script src="thirdparties/angular/angular-cookies.min.js"></script>
	<script src="thirdparties/angular/angular-resource.min.js"></script>
	<script src="thirdparties/angular/angular-touch.min.js"></script>
	<script src="thirdparties/ngStorage-0.3.11/ngStorage.js"></script>
	<script src="thirdparties/js/custom.js"></script> 
	<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
	<script type="text/javascript" src="thirdparties/angular/angucomplete.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
$(document).ready(function(){
	$('.p_excludeMenu').click(function(){
		  $("body").removeClass( "highlight" );	 
	});
})
	!function(A, n, g, u, l, a, r) {
		A.GoogleAnalyticsObject = l, A[l] = A[l] || function() {
					(A[l].q = A[l].q || []).push(arguments)
				}, A[l].l = +new Date, a = n.createElement(g), r = n
				.getElementsByTagName(g)[0], a.src = u, r.parentNode
				.insertBefore(a, r)
	}(window, document, 'script',
			'https://www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-XXXXX-X');
	ga('send', 'pageview');
	
	$( "ul.left_nav li a" ).click(function() {
		
		 $('.fade')[0].style.display='block';
		if($('body.highlight ul.left_nav')[0]!=undefined ){
			
			if( $('body.highlight ul.left_nav')[0].offsetWidth==240){
				for(var a=0;a<$('.fade').length;a++)
				$('.fade')[a].style.display='none';
		}
		}
	  $("body").toggleClass( "highlight" );
	 
	
	
	});
</script>

<script src="thirdparties/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
<script src="thirdparties/js/typeahead.bundle.js"></script>
<!-- <script src="https://cdn.zingchart.com/zingchart.min.js"></script> -->

<script src="thirdparties/js/moment.min.js"></script>
<script
		src="thirdparties/bootstrap-datepicker-1.6.4-dist/js/bootstrap-datepicker.min.js"></script>
<script src="thirdparties/amchart/amcharts.js"></script>
<script src="thirdparties/amchart/pie.js"></script>
<script src="thirdparties/amchart/plugins/export/export.min.js"></script>
<link  href="thirdparties/amchart/plugins/export/export.css" rel="stylesheet" type="text/css" media="all" />
<script src="thirdparties/amchart/serial.js"></script>
<script src="thirdparties/amchart/light.js"></script>
<script src="thirdparties/amchart/amstock.js"></script>
<script src="thirdparties/tribute/tribute.js?2983982"></script>

<!-- Angularjs Modules -->
<script src="thirdparties/angular-modules/JSOG.js"></script>
<script src="thirdparties/angular-modules/zingchart-angularjs.js"></script>
<script src="thirdparties/angular-modules/zingchart.min.js"></script>

<!-- Angularjs Scripts -->
<script src="scripts/app.js"></script>
<script src="scripts/controllers/home.js"></script>
<script src="scripts/controllers/about.js"></script>
<script src="scripts/controllers/viewAllOpinion.js"></script>
<script src="scripts/controllers/viewOpinion.js"></script>
<script src="scripts/controllers/personality.js"></script>
<script src="scripts/controllers/uploadFile.js"></script>
<!-- <script src="scripts/controllers/headerController.js"></script> -->
<script src="scripts/controllers/trends.js"></script>
<script src="scripts/controllers/opinionNotificationController.js"></script>
<script src="scripts/controllers/generalNotificationController.js"></script>
<script src="scripts/controllers/searchuser.js"></script>
<script src="scripts/controllers/user-setting.js"></script>
<script src="scripts/controllers/userConnectionController.js"></script>
<script src="scripts/controllers/ViewAllsearchuser.js"></script>	
<script src="scripts/directives/generalUtils.js"></script>
<script src="scripts/directives/signup.js"></script>
<script src="scripts/directives/login.js"></script>
<script src="scripts/directives/forgotPwd.js"></script>
<script src="scripts/directives/forgotUser.js"></script>
<script src="scripts/directives/delete.js"></script>
<script src="scripts/directives/news.js"></script>

<script src="scripts/directives/plainOpinion.js"></script>
<!-- <script src="scripts/directives/videopic.js"></script> -->
<script src="scripts/directives/gpi.js"></script>
<script src="scripts/directives/readMore.js"></script>
<script src="scripts/directives/privacyPolicy.js"></script> 
<script src="scripts/directives/cookiePolicy.js"></script> 



<!-- <script src="scripts/filters/trustAsResourceUrl.js"></script>  -->

<script src="scripts/services/http_service.js"></script>
<script src="scripts/services/home_service.js"></script>
<script src="scripts/services/user-setting_service.js"></script>
<script src="scripts/services/sentiment_service.js"></script>
<script src="scripts/services/createopinion_service.js"></script>
<script src="scripts/services/personality_service.js"></script>
<script src="scripts/services/trend_service.js"></script>
<script src="scripts/services/uploadFile_service.js"></script>

<script></script>
</body>
</html>
