<div class="solve_problem">
   <div class="row">
      <div class="col-sm-12" style="min-height: 400px;">
        
         
 <h4> Statement of Rights and Responsibilities  </h4>
 <h6><p>
This Statement of Rights and Responsibilities ("Statement," "Terms," or "SRR") derives from the 
Govrnn Principles, and is our terms of service that governs our relationship with users and others who 
interact with Govrnn, as well as Govrnn brands, products and services, which we call the &quot;Govrnn Services&quot; or &quot;Services&quot;.
By using or accessing the Govrnn Services, you agree to this Statement, as updated from time to time in accordance with Section 13 below.
Additionally, you will find resources at the end of this document that help you understand how Govrnn works. </br></br>

Because Govrnn provides a wide range of Services, we may ask you to review and accept supplemental terms that apply to your interaction with a 
specific app, product, or service. To the extent those supplemental terms conflict with this SRR, the supplemental terms associated 
with the app, product, or service Govrnn with respect to your use of such app, product or service to the extent of the conflict. </br></br>

<b>1. Privacy:</b> Your privacy is very important to us. We designed our Data Policy to make important disclosures about how you can use Govrnn to share with others and how we collect and can use your content and information. 
We encourage you to read the Data Policy, and to use it to help you make informed decisions. </br></br>

<b>2.Sharing Your Content and Information :</b>You own all of the content and information you post on Govrnn, and 
you can control how it is shared through your privacy and application settings. In addition:</br>

2.1. For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with Govrnn (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</br>
2.2.When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).</br>
2.3.When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.  (To learn more about Platform, including how you can control what information other people may share with applications, read our Data Policy and Platform Page.)</br>
2.4.When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of Govrnn, to access and use that information, and to associate it with you (i.e., your name and profile picture).</br>
2.5.We always appreciate your feedback or other suggestions about Govrnn, but you understand that we may use your feedback or suggestions without any obligation to compensate you for them (just as you have no obligation to offer them).</br></br>

<b>3.SafetyWe do our best to keep Govrnn safe, but we cannot guarantee it. We need your help to keep Govrnn safe, which includes the following commitments by you:</b></br>

3.1.You will not post unauthorized commercial communications (such as spam) on Govrnn.</br>
3.2.You will not collect users' content or information, or otherwise access Govrnn, using automated means (such as harvesting bots, robots, spiders, or scrapers) without our prior permission.</br>
3.3.You will not engage in unlawful multi-level marketing, such as a pyramid scheme, on Govrnn. </br>
3.4.You will not upload viruses or other malicious code.</br>
3.5.You will not solicit login information or access an account belonging to someone else.</br>
3.6.You will not bully, intimidate, or harass any user.</br>
3.7.You will not post content that: is hate speech, threatening, or pornographic; incites violence; or contains nudity or graphic or gratuitous violence </br>
3.8.You will not develop or operate a third-party application containing alcohol-related, dating or other mature content (including advertisements) without appropriate age-based restrictions.</br>
3.9.You will not use Govrnn to do anything unlawful, misleading, malicious, or discriminatory.</br>
3.10.You will not do anything that could disable, overburden, or impair the proper working or appearance of Govrnn, such as a denial of service attack or interference with page rendering or other Govrnn functionality.</br>
3.11.You will not facilitate or encourage any violations of this Statement or our policies. </br></br>

<b>4.Registration and Account Security :</b> Govrnn users provide their real names and information, and we need your help to keep it that way. Here are some commitments you make to us relating to registering and maintaining the security of your account: </br>
4.1.You will not provide any false personal information on Govrnn, or create an account for anyone other than yourself without permission.</br>
4.2.You will not create more than one personal account.</br>
4.3.If we disable your account, you will not create another one without our permission.</br>
4.4.You will not use your personal timeline primarily for your own commercial gain, and will use a Govrnn Page for such purposes.</br>
4.5.You will not use Govrnn if you are under 13.</br>
4.6.You will not use Govrnn if you are a convicted sex offender.</br>
4.7.You will keep your contact information accurate and up-to-date.</br>
4.8.You will not share your password (or in the case of developers, your secret key), let anyone else access your account, or do anything else that might jeopardize the security of your account.</br>
4.9.You will not transfer your account (including any Page or application you administer) to anyone without first getting our written permission.</br>
4.10.If you select a username or similar identifier for your account or Page, we reserve the right to remove or reclaim it if we believe it is appropriate (such as when a trademark owner complains about a username that does not closely relate to a user's actual name).</br></br>

<b>5.Protecting Other People's Rights:</b> We respect other people's rights, and expect you to do the same.</br>
5.1. You will not post content or take any action on Govrnn that infringes or violates someone else's rights or otherwise violates the law.</br>
5.2.We can remove any content or information you post on Govrnn if we believe that it violates this Statement or our policies.</br>
5.3.We provide you with tools to help you protect your intellectual property rights. To learn more, visit our How to Report Claims of Intellectual Property Infringement page.</br>
5.4.If we remove your content for infringing someone else's copyright, and you believe we removed it by mistake, we will provide you with an opportunity to appeal.</br>
5.5.If you repeatedly infringe other people's intellectual property rights, we will disable your account when appropriate.</br>
5.6.You will not use our copyrights or Trademarks or any confusingly similar marks, except as expressly permitted by our Brand Usage Guidelines or with our prior written permission.</br>
5.7.If you collect information from users, you will: obtain their consent, make it clear you (and not Govrnn) are the one collecting their information, and post a privacy policy explaining what information you collect and how you will use it.</br>
5.8.You will not post anyone's identification documents or sensitive financial information on Govrnn.</br>
5.9.You will not tag users or send email invitations to non-users without their consent. Govrnn offers social reporting tools to enable users to provide feedback about tagging.</br>

<b>6.Mobile and Other Devices:</b> </br>
6.1.We currently provide our mobile services for free, but please be aware that your carrier's normal rates and fees, such as text messaging and data charges, will still apply.</br>
6.2.In the event you change or deactivate your mobile telephone number, you will update your account information on Govrnn within 48 hours to ensure that your messages are not sent to the person who acquires your old number.</br>
6.3.You provide consent and all rights necessary to enable users to sync (including through an application) their devices with any information that is visible to them on Govrnn.</br></br>

<b>7.Payments:</b>If you make a payment on Govrnn, you agree to our Payments Terms unless it is stated that other terms apply.</br>

<b>8.Special Provisions Applicable to Developers/Operators of Applications and Websites :</b> If you are a developer or operator of a Platform application or website or if you use Social Plugins, you must comply with the Govrnn Platform Policy.</br></br>

<b>9. About Advertisements and Other Commercial Content Served or Enhanced by Govrnn : Our goal is to deliver advertising and other commercial or sponsored content that is valuable to our users and advertisers. In order to help us do that, you agree to the following:</b></br>
9.1.You give us permission to use your name, profile picture, content, and information in connection with commercial, sponsored, or related content (such as a brand you like) served or enhanced by us. This means, for example, that you permit a business or other entity to pay us to display your name and/or profile picture with your content or information, without any compensation to you. If you have selected a specific audience for your content or information, we will respect your choice when we use it.</br>
9.2.We do not give your content or information to advertisers without your consent.</br>
9.3.You understand that we may not always identify paid services and communications as such.</br></br>

<b>10.Special Provisions Applicable to Advertisers : </b>If you use our self-service advertising creation interfaces for creation, submission and/or delivery of any advertising or other commercial or sponsored activity or content (collectively, the &quot;Self-Serve Ad Interfaces&quot;), you agree to our Self-Serve Ad Terms. In addition, your advertising or other commercial or sponsored activity or content placed on Govrnn or our publisher network will comply with our Advertising Policies.</br></br>

<b>11.Special Provisions Applicable to Pages :</b>If you create or administer a Page on Govrnn, or run a promotion or an offer from your Page, you agree to our Pages Terms.</br></br>

<b>12.Special Provisions Applicable to Software: </b></br>
12.1.If you download or use our software, such as a stand-alone software product, an app, or a browser plugin, you agree that from time to time, the software may download and install upgrades, updates and additional features from us in order to improve, enhance, and further develop the software.</br>
12.2.You will not modify, create derivative works of, decompile, or otherwise attempt to extract source code from us, unless you are expressly permitted to do so under an open source license, or we give you express written permission.</br></br>

<b>13.Amendments: </b></br>
13.1.We will  notify you before we make changes to these terms and give you the opportunity to review and comment on the revised terms before continuing to use our Services.</br>
13.2.If we make changes to policies, guidelines or other terms referenced in or incorporated by this Statement, we may provide notice on the Site Governance Page.</br>
13.3.Your continued use of the Govrnn Services, following notice of the changes to our terms, policies or guidelines, constitutes your acceptance of our amended terms, policies or guidelines.</br></br>

<b>14.Termination :</b>If you violate the letter or spirit of this Statement, or otherwise create risk or possible legal exposure for us, we can stop providing all or part of Govrnn to you. We will notify you by email or at the next time you attempt to access your account. You may also delete your account or disable your application at any time. In all such cases, this Statement shall terminate, but the following provisions will still apply: 2.2, 2.4, 3-5, 9.3, and 14-18. </br></br>

<b>15.Disputes:</b></br>
15.1.You will resolve any claim, cause of action or dispute (claim) you have with us arising out of or relating to this Statement or Govrnn exclusively in the U.S. District Court for the Northern District of California or a state court located in San Mateo County, and you agree to submit to the personal jurisdiction of such courts for the purpose of litigating all such claims. The laws of the State of California will govrnn this Statement, as well as any claim that might arise between you and us, without regard to conflict of law provisions.</br>
15.2.If anyone brings a claim against us related to your actions, content or information on Govrnn, you will indemnify and hold us harmless from and against all damages, losses, and expenses of any kind (including reasonable legal fees and costs) related to such claim. Although we provide rules for user conduct, we do not control or direct users' actions on Govrnn and are not responsible for the content or information users transmit or share on Govrnn. We are not responsible for any offensive, inappropriate, obscene, unlawful or otherwise objectionable content or information you may encounter on Govrnn. We are not responsible for the conduct, whether online or offline, of any user of Govrnn.</br>
15.3.WE TRY TO KEEP Govrnn UP, BUG-FREE, AND SAFE, BUT YOU USE IT AT YOUR OWN RISK. WE ARE PROVIDING Govrnn AS IS WITHOUT ANY EXPRESS OR IMPLIED WARRANTIES INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. WE DO NOT GUARANTEE THAT Govrnn WILL ALWAYS BE SAFE, SECURE OR ERROR-FREE OR THAT Govrnn WILL ALWAYS FUNCTION WITHOUT DISRUPTIONS, DELAYS OR IMPERFECTIONS. Govrnn IS NOT RESPONSIBLE FOR THE ACTIONS, CONTENT, INFORMATION, OR DATA OF THIRD PARTIES, AND YOU RELEASE US, OUR DIRECTORS, OFFICERS, EMPLOYEES, AND AGENTS FROM ANY CLAIMS AND DAMAGES, KNOWN AND UNKNOWN, ARISING OUT OF OR IN ANY WAY CONNECTED WITH ANY CLAIM YOU HAVE AGAINST ANY SUCH THIRD PARTIES. IF YOU ARE A CALIFORNIA RESIDENT, YOU WAIVE CALIFORNIA CIVIL CODE 1542, WHICH SAYS: A GENERAL RELEASE DOES NOT EXTEND TO CLAIMS WHICH THE CREDITOR DOES NOT KNOW OR SUSPECT TO EXIST IN HIS OR HER FAVOR AT THE TIME OF EXECUTING THE RELEASE, WHICH IF KNOWN BY HIM OR HER MUST HAVE MATERIALLY AFFECTED HIS OR HER SETTLEMENT WITH THE DEBTOR. WE WILL NOT BE LIABLE TO YOU FOR ANY LOST PROFITS OR OTHER CONSEQUENTIAL, SPECIAL, INDIRECT, OR INCIDENTAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THIS STATEMENT OR Govrnn, EVEN IF WE HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. OUR AGGREGATE LIABILITY ARISING OUT OF THIS STATEMENT OR Govrnn WILL NOT EXCEED THE GREATER OF ONE HUNDRED DOLLARS ($100) OR THE AMOUNT YOU HAVE PAID US IN THE PAST TWELVE MONTHS. APPLICABLE LAW MAY NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY OR INCIDENTAL OR CONSEQUENTIAL DAMAGES, SO THE ABOVE LIMITATION OR EXCLUSION MAY NOT APPLY TO YOU. IN SUCH CASES, Govrnn'S LIABILITY WILL BE LIMITED TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
</br></br>

<b>16.Special Provisions Applicable to Users Outside the India :</b></br>
16.1.You consent to having your personal data transferred to and processed in the India.</br>
16.2.If you are located in a country embargoed by the India, or are on the U.S. Treasury Department's list of Specially Designated Nationals you will not engage in commercial activities on Govrnn (such as advertising or payments) or operate a Platform application or website. You will not use Govrnn if you are prohibited from receiving products, services, or software originating from the India</br>
</br></br>

<b>17.Definitions:</b> </br>
17.1.By &quot;Govrnn&quot;  or  &quot;Govrnn Services&quot; we mean the features and services we make available, including through (a) our website at www.Govrnn.com and any other Govrnn branded or co-branded websites (including sub-domains, international versions, widgets, and mobile versions); (b) our Platform; (c) social plugins such as the Like button, the Share button and other similar offerings; and (d) other media, brands, products, services, software (such as a toolbar), devices, or networks now existing or later developed. Govrnn reserves the right to designate, in its sole discretion, that certain of our brands, products, or services are governed by separate terms and not this SRR.</br>
17.2.By "Platform" we mean a set of APIs and services (such as content) that enable others, including application developers and website operators, to retrieve data from Govrnn or provide data to us.</br>
17.3.By "information" we mean facts and other information about you, including actions taken by users and non-users who interact with Govrnn.</br>
17.4.By "content" we mean anything you or other users post, provide or share using Govrnn Services.</br>
17.5.By "data" or "user data" or "user's data" we mean any data, including a user's content or information that you or third parties can retrieve from Govrnn or provide to Govrnn through Platform.</br>
17.6.By "post" we mean post on Govrnn or otherwise make available by using Govrnn.</br>
17.7.By "use" we mean use, run, copy, publicly perform or display, distribute, modify, translate, and create derivative works of.</br>
17.8.By "application" we mean any application or website that uses or accesses Platform, as well as anything else that receives or has received data from us.  If you no longer access Platform but have not deleted all data from us, the term application will apply until you delete the data.</br>
17.9.By &quot;Trademarks&quot; we mean the list of trademarks provided here. </br></br>

<b>18.Other:</b> </br>
18.1.If you are a resident of or have your principal place of business in the US or Canada, this Statement is an agreement between you and Govrnn, Inc.  Otherwise, this Statement is an agreement between you and Govrnn.  References to &quot;us&quot;, &quot;we&quot;, and &quot;our&quot; mean either Govrnn, Inc. or Govrnn, as appropriate.</br>
18.2.This Statement makes up the entire agreement between the parties regarding Govrnn, and supersedes any prior agreements.</br>
18.3.If any portion of this Statement is found to be unenforceable, the remaining portion will remain in full force and effect.</br>
18.4.If we fail to enforce any of this Statement, it will not be considered a waiver.</br>
18.5.Any amendment to or waiver of this Statement must be made in writing and signed by us.</br>
18.6.You will not transfer any of your rights or obligations under this Statement to anyone else without our consent.</br>
18.7.All of our rights and obligations under this Statement are freely assignable by us in connection with a merger, acquisition, or sale of assets, or by operation of law or otherwise.</br>
18.8.Nothing in this Statement shall prevent us from complying with the law.</br>
18.9.This Statement does not confer any third party beneficiary rights.</br>
18.10.We reserve all rights not expressly granted to you.</br>
18.11.You will comply with all applicable laws when using or accessing Govrnn.</br></br>

By using or accessing Govrnn Services, you agree that we can collect and use such content and information in accordance with the Data Policy as amended from time to time. You may also want to review the following documents, which provide additional information about your use of Govrnn:</br>
&clubs; Payment Terms: These additional terms apply to all payments made on or through Govrnn, unless it is stated that other terms apply.</br>
&clubs; Platform Page: This page helps you better understand what happens when you add a third-party application or use Govrnn Connect, including how they may access and use your data.</br>
&clubs; Govrnn Platform Policies: These guidelines outline the policies that apply to applications, including Connect sites.</br>
&clubs; Advertising Policies: These guidelines outline the policies that apply to advertisements placed on Govrnn.</br>
&clubs; Self-Serve Ad Terms: These terms apply when you use the Self-Serve Ad Interfaces to create, submit, or deliver any advertising or other commercial or sponsored activity or content.</br>
&clubs; Promotions Guidelines: These guidelines outline the policies that apply if you offer contests, sweepstakes, and other types of promotions on Govrnn.</br>
&clubs; Govrnn Brand Resources: These guidelines outline the policies that apply to use of Govrnn trademarks, logos and screenshots</br>
&clubs; How to Report Claims of Intellectual Property Infringement</br>
&clubs; Pages Terms: These guidelines apply to your use of Govrnn Pages.</br>
&clubs; Community Standards: These guidelines outline our expectations regarding the content you post to Govrnn and your activity on Govrnn.</br></br>

To access the Statement of Rights and Responsibilities in several different languages, change the language setting for your Govrnn session by clicking on the language link in the left corner of most pages.  If the Statement is not available in the language you select, we will default to the English version.


 
 
         </p>
         </h6>
      </div>
   </div>
</div>