<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="clearfix"></div>
<div class="p_container"></div>
<div class="row">

	<button class="btn custom_btn " ng-click="showUploadFile()">upload
		File</button>

</div>

<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

<!-- The Modal for file upload under change picture for user part -->
<div id="uploadFile" class="modal fade" role="dialog" index=-1
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		Modal content
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">&times;</button>
				<h4 class="modal-title">Upload File</h4>
			</div>
			<div class="modal-body">
				<div id="fileUp" class="fileUpload btn btn-primary">
					<input id="uploadBtn" type="file" accept=".tsv" class="upload"
						onchange="angular.element(this).scope().uploadFile(this)" />

				</div>
				<!-- <h3>{{errormsg }}</h3> -->
			</div>
		</div>
	</div>