
<ul class="left_nav">
  <li><a class="close_nav" href="#"><span class="icon_nav arrow"></span></a></li>
  <li><a href="#"><span class="txt">Your Personality</span><span class="icon_nav user"></span></a></li>
  <li><a href="#"><span class="txt">Your Activities</span><span class="icon_nav msg"></span></a></li>
  <li><a href="#"><span class="txt">Contest</span><span class="icon_nav cont"></span></a></li>
  <li><a href="#"><span class="txt">See All Viral Video/Images</span><span class="icon_nav cam"></span></a></li>
  <li><a href="#"><span class="txt">View All Verdic</span><span class="icon_nav graph"></span></a></li>
  <li><a href="#"><span class="txt">Raise Your opinion</span><span class="icon_nav opin"></span></a></li>
  <li><a href="#"><span class="txt">Be a Leader</span><span class="icon_nav lead"></span></a></li>
  <li><a href="#"><span class="txt">View All Opinions</span><span class="icon_nav govt"></span></a></li>
  <li><a href="#"><span class="txt">FAQ - Govrnn's methodology</span><span class="icon_nav noti"></span></a></li>
  <li><a href="#"><span class="txt">About Us</span><span class="icon_nav home"></span></a></li>
</ul>
<header class="user">
  <div class="top_bar">
    <div class="outer">
      <form class="search" method="post">
        <div class="card-drop"> <a class='toggle' href="#"><i class="icn_srh all"></i></a>
          <ul>
            <li class='active'> <a data-label="Skills" href="#"><i class="icn_srh all"></i> All</a> </li>
            <li><a data-label="Html5" href="#"><i class="icn_srh people"></i> People</a></li>
            <li><a data-label="CSS3" href="#"><i class="icn_srh opin"></i> Opinion</a></li>
            <li><a data-label="Linux" href="#"><i class="icn_srh verd"></i> Verdict</a></li>
          </ul>
        </div>
        <input type="search" value="" placeholder="Select Search Opinion, People, Verdict...">
        <input type="submit" value="">{{lastName}}
      </form>
    </div>
    <div class="earn animation"></div>
    <ul class="social">
      <li><a href="#" class="social_top msg"></a></li>
      <li><a href="#" class="social_top video"></a></li>
      <li><a href="#" class="social_top noti"></a></li>
      <li><a href="#" class="social_top share"></a></li>
      <li><a href="#" class="social_top loud"><span class="blink"></span></a></li>
    </ul>
  </div>
  <div class="navbar-static-top">
    <div class="navbar-header">
      <button aria-controls="bs-navbar" aria-expanded="false" class="collapsed navbar-toggle" data-target="#bs-navbar" data-toggle="collapse" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a href="index.html" class="navbar-brand"><span class="logo"></span></a> </div>
    <nav class="collapse navbar-collapse">
      <ul class="nav navbar-nav menu_header">
        <li> <a href="#"><span class="header_nav discuss"></span> Discuss</a> </li>
        <li> <a href="#"><span class="header_nav wall"></span>Wall</a> </li>
        <li> <a href="#"><span class="header_nav judge"></span>Judge Govt</a> </li>
        <li> <a href="#"><span class="header_nav problem"></span>Problems</a> </li>
      </ul>
      <ul class="nav navbar-nav menu_header navbar-right">
        <li> <a href="#"><span class="logout"></span> Logout</a> </li>
      </ul>
    </nav>
  </div>
<div class="user_pic">
<img src="images/user_pic.jpg" alt="">
<div class="user_name">Rohit Roy</div>
<div id="fat-menu" class="dropdown"> 
<a href class="dropdown-toggle" id="drop3" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="fa fa-bars"></span> </a> <ul class="dropdown-menu" aria-labelledby="drop3"> <li><a href="#">My Feed</a></li> <li><a href="#">My Profile</a></li> <li><a href="#">My Account</a></li> <li><a href="#">My Connections</a></li> </ul> </div>
</div>
  </header>

<div class="clearfix"></div>
<div class="p_container">
<div class="solve_problem">
	<div class="banner_perso">
		<img class="bg" src="images/personality.png" alt="">
		<div class="row">
			<div class="col-sm-3 user_pic">
			<img src="images/user_connect.jpg" class="img-thumbnail" alt="" width="180">
			</div>
			<div class="col-sm-9 side_cont">
			<div class="wht_bx">
			<h3 class="inline m_l15">Your Ideology <span class="red">Center Right</span> <i data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Tooltip on bottom" class="fa fa-question-circle"></i></h3>
			</div>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="meter_bx">
	<div class="row">
	<div class="col-sm-4 first-img">
		<img src="images/sonia.jpg" alt="" height="160" width="160" class="img-thumbnail img-circle">
	</div>
	<div class="col-sm-4 pull-right last-img">
		<img src="images/modi.jpg" alt="" height="160" width="160" class="img-thumbnail img-circle">
	</div>
	<div class="col-sm-4 text-center">
			<img src="images/conn_meter.jpg" alt="">
	</div>
	</div>
	</div>
	<span class="conn_icon"></span><h2 class="inline">Connections</h2> 
	<ul class="support">
		<li><a href="javascript:void(0)"><span class="box saffron"></span> Your Colour</a></li>
		<li><a href="javascript:void(0)"><span class="box saffron"></span> Political Friend <span>200</span></a></li>
		<li><a href="javascript:void(0)"><span class="box green"></span> Political Foe <span>16</span></a></li>
	</ul>
	<a href="#" class="custom_btn pull-right"><i class="fa fa-plus"></i> Find Connection</a>
	
	<div class="clearfix"></div>
	<hr>
	<ul class="filter_tab">
		<li>
			<a class="active" href="javascript:void(0)">All <span>306</span></a>
		</li>
		<li>
			<a href="javascript:void(0)">Recently Added</a>
		</li>
		<li>
			<a href="javascript:void(0)">New Posts</a>
		</li>
		<li>
			<a href="javascript:void(0)">Birthdays</a>
		</li>
		<li>
			<a href="javascript:void(0)">Current City</a>
		</li>
	</ul>
	<form class="search_trend" method="get">
		<input placeholder="Search Trends" type="search">
		<button type="submit"><i class="fa fa-search"></i></button>
	</form>
	<div class="clearfix"></div>
	<br>
	<h2>People You May Know</h2>
	
	<div class="related">
		<div id="carousel-related" class="carousel slide" data-ride="carousel">
			<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
			<div class="item active">
				<ul class="friend_scroll">
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-suitcase"></i> Telecom Engg</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-suitcase"></i> Telecom Engg</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
										

				</ul>
				
			</div>
			<div class="item">
				<ul class="friend_scroll">
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-suitcase"></i> Telecom Engg</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-suitcase"></i> Telecom Engg</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
					<li class="alert alert-dismissible fade in" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						<img src="images/conn_frd.png" alt="">
						<h1>Ram Swaroop</h1>
						<p><i class="fa fa-map-marker"></i> Biswa, Ludhiana</p>
						<a class="add" href="javascript:void(0)"><i class="fa fa-user-plus"></i> Add</a>
					</li>
										

				</ul>
				
			</div>
	 
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-related" role="button" data-slide="prev">
    <span class="fa fa-angle-left" aria-hidden="true"></span>
  </a>
  <a class="right carousel-control" href="#carousel-related" role="button" data-slide="next">
    <span class="fa fa-angle-right" aria-hidden="true"></span>
  </a>
</div>

  </div>
  
  <div class="row">
	<div class="col-xs-6">
		<ul class="frd_sug yes">
			<li ng-repeat="l in listPersionDetails">
			<span>
			<img ng-src="data:image/png;base64,{{l.profileimg}}" class="pull-left" height="100" alt="">
			<span class="rgt-bx">
			<h2><a href="javascript:void(0)">{{l.name}}</a></h2>
			<p>{{l.friend}}</p>
			<p>{{l.location}}</p>
			</span>
			</span>
			</li>
			
			<!--<li>-->
			<!--<span>-->
			<!--<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">-->
			<!--<span class="rgt-bx">-->
			<!--<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>-->
			<!--<p>London, United Kingdom</p>-->
			<!--</span>-->
			<!--</span>-->
			<!--</li>-->
			<!-- -->
			<!--<li>-->
			<!--<span>-->
			<!--<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">-->
			<!--<span class="rgt-bx">-->
			<!--<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>-->
			<!--<p>47 friends</p>-->
			<!--</span>-->
			<!--</span>-->
			<!--</li>-->
			<!-- -->
			<!--<li>-->
			<!--<span>-->
			<!--<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">-->
			<!--<span class="rgt-bx">-->
			<!--<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>-->
			<!--<p>London, United Kingdom</p>-->
			<!--</span>-->
			<!--</span>-->
			<!--</li>-->
		</ul>
	</div>
	<div class="col-xs-6">
		<ul class="frd_sug no">
			<li>
			<span>
			<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">
			<span class="rgt-bx">
			<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>
			<p>300 friends</p>
			</span>
			</span>
			</li>
			
			<li>
			<span>
			<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">
			<span class="rgt-bx">
			<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>
			<p>10 matual friends</p>
			</span>
			</span>
			</li>
			
			<li>
			<span>
			<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">
			<span class="rgt-bx">
			<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>
			<p>47 friends</p>
			</span>
			</span>
			</li>
			
			<li>
			<span>
			<img src="images/user_pic.jpg" class="pull-left" height="100" alt="">
			<span class="rgt-bx">
			<h2><a href="javascript:void(0)">Hari Parkash Pathak</a></h2>
			<p>47 friends</p>
			</span>
			</span>
			</li>
		</ul>
	</div>
  </div>
  
<!--   <div class="loader"> -->
<!-- 	<i class="fa fa-spinner fa-spin"></i> -->
<!-- 	<br> -->
<!-- 	Loading... -->
<!-- 	</div> -->
	
</div>
</div>


