<!--  Home page starts here-->

<div class="custom_row">
	<div style="
    position: relative;
        width: 80%;
    margin: 0 auto; border:1px solid #cccccc; padding:-5px 0; background:#d7d7d7;">
		<h2> <span style="padding:0 0 20px 20px !important	;"> Notification </span></h2>
			<div 
				style="border-bottom: 1px solid #ddd;
    					display: inline-block;
    				
    					width: 100%; background:rgb(250, 250, 250)
    					    	"
			
			
			ng-repeat="top in GeneralnotificationCount"
				ng-class="{'unreadli':top.status == 'Unread'}"
				ng-click="changeStatus(top)">
				<span class="opin_noti">
					<span class="type_vid">
						<a href="#/personality?id={{top.user.id}}"><img class="img-circle" src="{{top.imageUrl}}" alt="" height="51" width="51"></a></span>
							
					
					<span class="right_bx">
					
						<a href="#/personality?id={{top.user.id}}" style="margin-left:10px;font-size:18px">{{top.user.title}}</a> 
						
						<span style="font-size: 14px;color: #999;margin: 0 5px 0 5px"> {{top.title.split('$')[1]}} </span> 
						
						 <a  href="#/viewOpinion?id={{top.id}}" style="font-size:18px">{{top.componetType}}</a>.
						
						
					</span>
					
					<div style="font-size:12px; margin-left:62px; margin-top:-14px;"><span class="time" ><i
						></i> {{top.formattedAge}}</span></div> 
			</span>
	
		</div>
</div>

<!--Jahid-->