

@import url('https://fonts.googleapis.com/css?family=Play:400,700&subset=cyrillic,cyrillic-ext,greek,latin-ext,vietnamese');
@font-face{font-family:'Play-Regular';font-style:normal;font-weight:400;src:local("Play-Regular"),local("Play-Regular"),url(https://fonts.gstatic.com/s/materialicons/v19/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format("woff2")}.material-icons{font-family:'Play-Regular';font-weight:normal;font-style:normal;font-size:24px;line-height:1;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:'liga';-webkit-font-smoothing:antialiased}

body{font-family: 'Play', sans-serif;font-size:14px;line-height:1.428571429;color:#333;background-color:#f1f2f7}
a:focus, a:hover {
    color: #23527c;
    text-decoration:none;
}
html{overflow-x:hidden}
.clear{display:block; height:0; overflow:hidden; margin:0; padding:0; clear:both}
h1,h2,h3,h4,h5,h6{
margin:0;
padding:0;
}
.navbar {
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.navbar-header {
    background: #f5560b;
}
.navbar-inverse {
    background-color: #f5560b;
    border-color:0 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 0;
}
.navbar-brand {
    float: left;
    height: 58px;
    padding: 13px 25px;
    font-size: 35px;
    line-height: 30px;
}
.navbar-brand a{
color:#FFFFFF;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 6px 15px;
}
.sidebar-nav a i{
padding-right:28px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 202px;
    padding: 0px 0;
    margin: 0px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border:none;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.dropdown-menu>li>a {
    display: block;
    padding: 12px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
		transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 0px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #FFF;
    text-decoration: none;
    background-color: rgb(15, 165, 158);
}



#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}
.page-header {
    padding-bottom: 9px;
    margin: 0px 0 20px;
    border-bottom: 1px solid #d1d4d4;
}
#sidebar-wrapper {
	margin-left: -253px;
	top: 58px;
	left: 250px;
	width: 250px;
	background: #32323a;
	position: fixed;
	height: 100%;
	overflow-y: auto;
	z-index: 1000;
	transition: all 0.4s ease 0s;
}

#wrapper.active {
  padding-left: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 0;
}

#page-content-wrapper {
  width: 100%;
  padding-top: 70px;
  transition: all 0.4s ease 0s;
}
.collapse{
  trasition: all 1s ease-in-out;
  -moz-trasition: all 1s ease-in-out;
  -o-trasition: all 1s ease-in-out;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #f5560b;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  trasition: all 2s ease-in-out;
  -moz-trasition: all 2s ease-in-out;
  -o-trasition: all 2s ease-in-out;
}

.sidebar-nav li {
  line-height: 40px;
text-indent: 10px;
}

.sidebar-nav li a {
	color: #FFF;
	display: block;
	text-decoration: none;
	padding-left: 0px;
	font-size: 16px;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
}

.sidebar-nav li a span:before {
  position: absolute;
  left: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover,
.sidebar-nav li.active {
  color: #fff;
  background: rgb(15, 165, 158) !important;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

ol ol, ol ul, ul ol, ul ul {
padding:0;
margin:0;
}
.collapse ul{
padding:0;
margin:0;
}
.collapse ul>li>a>i{
padding-right:10px !important;
}
#menu-toggle {
text-decoration: none;
    float: left;
    color: #FFF;
    font-size: 28px;
/*    background: #414042;*/
    padding: 8px 14px;
}
.no-maxpadding{
padding:0 !important}

.padding-top10{padding-top:10px;}
.padding-top20{padding-top:20px;}
.padding-top30{padding-top:30px;}
.padding-top40{padding-top:40px;}
.padding-top50{padding-top:50px;}
.padding-top60{padding-top:60px;}
.padding-top70{padding-top:70px;}
.padding-top80{padding-top:80px;}
.padding-top90{padding-top:90px;}
.padding-top100{padding-top:100px;}
.padding-top110{padding-top:110px;}
.padding-top120{padding-top:120px;}
.padding-top150{padding-top:150px;}
.padding-top200{padding-top:200px;}

.padding-bot10{padding-bottom:10px;}
.padding-bot20{padding-bottom:20px;}
.padding-bot30{padding-bottom:30px;}
.padding-bot40{padding-bottom:40px;}
.padding-bot50{padding-bottom:50px;}
.padding-bot60{padding-bottom:60px;}
.padding-bot70{padding-bottom:70px;}
.padding-bot80{padding-bottom:80px;}
.padding-bot90{padding-bottom:90px;}

.padding-btop10{padding-top:10px; padding-bottom:10px;}
.padding-btop20{padding-top:20px; padding-bottom:20px;}
.padding-btop30{padding-top:30px; padding-bottom:30px;}
.padding-btop40{padding-top:40px; padding-bottom:40px;}
.padding-btop50{padding-top:50px; padding-bottom:50px;}
.padding-btop60{padding-top:60px; padding-bottom:60px;}
.padding-btop70{padding-top:70px; padding-bottom:70px;}
.padding-btop80{padding-top:80px; padding-bottom:80px;}
.padding-btop90{padding-top:90px; padding-bottom:90px;}
.padding-btop100{padding-top:100px; padding-bottom:100px;}
.padding-btop110{padding-top:110px; padding-bottom:110px;}
.padding-btop120{padding-top:120px; padding-bottom:120px;}
.padding-btop130{padding-top:130px; padding-bottom:130px;}
.padding-btop140{padding-top:140px; padding-bottom:140px;}
.padding-btop150{padding-top:150px; padding-bottom:150px;}
.padding-btop160{padding-top:160px; padding-bottom:160px;}
.padding-btop170{padding-top:170px; padding-bottom:170px;}
.padding-btop180{padding-top:180px; padding-bottom:180px;}
.padding-btop190{padding-top:190px; padding-bottom:190px;}
.padding-btop200{padding-top:200px; padding-bottom:200px;}

.padding20{padding:20px}
.padding30{padding:30px}
.padding40{padding:40px}
.padding50{padding:50px}
.padding60{margin:60px}
.padding70{margin:70px}
.padding80{margin:80px}

.padding-right5{padding-right:5px;}
.padding-right10{padding-right:10px;}
.padding-right15{padding-right:15px;}
.padding-right20{padding-right:20px;}

.padding-rtl10{padding-right:10px;padding-left:10px;}
.padding-rtl20{padding-right:20px;padding-left:20px;}
.padding-rtl30{padding-right:30px;padding-left:30px;}
.padding-rtl40{padding-right:40px;padding-left:40px;}
.padding-rtl50{padding-right:50px;padding-left:50px;}
.padding-rtl60{padding-right:60px;padding-left:60px;}
.padding-rtl70{padding-right:70px;padding-left:70px;}
.padding-rtl80{padding-right:80px;padding-left:80px;}


.margin0{
margin:0 !important
}
.margin-top20{margin-top:20px;}
.margin-top30{margin-top:30px;}
.margin-top40{margin-top:40px;}
.margin-top50{margin-top:50px;}
.margin-top60{margin-top:60px;}
.margin-top70{margin-top:70px;}


.margin-bot20{margin-bottom:20px;}
.margin-bot30{margin-bottom:30px;}
.margin-bot40{margin-bottom:40px;}
.margin-bot50{margin-bottom:50px;}
.margin-bot60{margin-bottom:60px;}
.margin-bot70{margin-bottom:70px;}

.margin-btop20{margin-top:20px; margin-bottom:20px;}
.margin-btop30{margin-top:30px; margin-bottom:30px;}
.margin-btop40{margin-top:40px; margin-bottom:40px;}
.margin-btop50{margin-top:50px; margin-bottom:50px;}
.margin-btop60{margin-top:60px; margin-bottom:60px;}
.margin-btop70{margin-top:70px; margin-bottom:70px;}

.margin-right10{margin-right:10px;}
.margin-rtl10{margin-left:10px; margin-right:10px;}
.margin-rtl20{margin-left:20px; margin-right:20px;}
.margin-rtl30{margin-left:30px; margin-right:30px;}
.margin-rtl40{margin-left:40px; margin-right:40px;}
.margin-rtl50{margin-left:50px; margin-right:50px;}
.margin-rtl60{margin-left:60px; margin-right:60px;}

.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: rgb(20, 179, 172);
    border-color: rgb(21, 140, 135);
}
.btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger:active.focus, .btn-danger:active:focus, .btn-danger:active:hover, .open>.dropdown-toggle.btn-danger.focus, .open>.dropdown-toggle.btn-danger:focus, .open>.dropdown-toggle.btn-danger:hover {
    color: #fff;
    background: #f6791f;
    border: 1px solid #da6511;
}
.btn{
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;

}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.theme_color{
color:#14b3ac
}
.theme-green {
    background: rgb(15, 165, 158);
    border: 1px solid rgb(15, 165, 198);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 2px;
    letter-spacing: .5px;
}

.theme-green:hover,.theme-green:focus{
    background: #32323a;
    border: 1px solid #32323a;
	color:#FFFFFF
}
.theme-volilet {
    background: #f5560b;
    border: 1px solid #da6511;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 2px;
    letter-spacing: .5px;
}
.theme-volilet:hover,.theme-volilet:focus{
    background: #32323a;
    border: 1px solid #32323a;
	color:#FFFFFF
}
.remove-button{
    background: rgb(20, 179, 172);
    border: 1px solid rgb(20, 179, 172);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: #FFFFFF;
	padding:5px 12px !important;
    border-radius: 0px !important;
    letter-spacing: .5px;
	margin-top:10px;
}


.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #e8e4e4;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 2px;
    padding: 16px;
}
.table>tbody>tr>td{
    line-height: 1.42857143;
    vertical-align: middle;
}
.table>tbody>tr>td,  .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 12px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
.table-bordered {
    border: 1px solid #e6e2e2;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #e6e2e2;
}
table.dataTable thead .sorting_asc {
    background: url(../images/sort_asc.png) no-repeat center right;
}

.box input[type="checkbox"] {
    content: url('../images/sort_asc.png');
    display: block;
    width: 35px;
    height: 18px;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.box input[type="checkbox"]:checked {
    content: url('../images/sort_asc_hover.png');
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.native-hidden {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	cursor:pointer;
	position:relative;
	height:40px;
	width:40px;
}
input[type=file]:focus, input[type=checkbox]:focus, input[type=radio]:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.icon_show {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
	    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	cursor:pointer;
	position:relative;

}
.icon-box input[type="checkbox"] {
    content: url('../images/enable.png');
    display: block;
    width: 26px;
    height: 26px;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	padding:5px;
}
.icon-box input[type="checkbox"]:checked {
    content: url('../images/desable.png');
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.update-icon input[type="checkbox"] {
    content: url('../images/update.png');
    display: block;
    width: 26px;
    height: 26px;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	padding:5px;
}
.update-icon input[type="checkbox"]:checked {
    content: url('../images/update.png');
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}

.enabel {
    background-color: #0fa59e;
    color: #FFFFFF !important;
    border-radius: 50% !important;
   /* border: 2px solid #cbe8e7 !important;*/
    box-shadow: 0px 0px 3px #d0cfcf;
    width: 26px;
    height: 26px;
    text-align: center !important;
    padding: 5px !important;
	
	

}
.enabel.pressed {
    background-color: #5b5b5b;
    color: #FFFFFF !important;
    border-radius: 50% !important;
   /* border: 2px solid #FFF !important;*/
    box-shadow: 0px 0px 3px #d0cfcf;
	background-size:100%;
}


.basura input[type="checkbox"] {
    content: url('../images/delete.png');
    display: block;
    width: 30px;
    height: 30px;
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
	padding:5px;
}
.basura input[type="checkbox"]:checked {
    content: url('../images/delete.png');
    outline: 0px auto -webkit-focus-ring-color;
    outline-offset: 0px;
}
.delete {
    background-color: #0fa59e;
    color: #FFFFFF !important;
    border-radius: 50% !important;
 /*   border: 2px solid #cbe8e7 !important;*/
    box-shadow: 0px 0px 3px #d0cfcf;
    width: 26px;
    height: 26px;
    text-align: center !important;
    padding: 5px !important;
	

}
.delete.pressed {
    background-color:#fc3413;
    color: #FFFFFF !important;
    border-radius: 50% !important;
  /*  border: 2px solid #FFF !important;*/
    box-shadow: 0px 0px 3px #d0cfcf;
	background-size:100%;
}
.small-icon{
padding:3px !important;
display:inline-block;
width:26px;
height:26px;
/*border-radius:50% !important;*/
}
:focus {
    outline: -webkit-focus-ring-color auto 0px;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 8px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #ffffff;
    text-decoration: none;
    background-color: #0fa59e;
    border: 1px solid #1c8a85;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #ffffff;
    background-color: #f5560b;
    border-color: #ea6e31;
}
.border_b{
border-bottom:none !important;
}



/*==============Dropdown List===================*/
.btn_border{
border:1px solid #f1f1f1 !important;
border-radius:0px !important;
padding: 8px 20px !important;
background:#FFFFFF !important;
}
.btn_border:hover{
border:1px solid rgb(20, 179, 172) !important;
border-radius:0px !important;
padding: 8px 20px !important;
background: rgb(20, 179, 172) !important;
color:#FFFFFF;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    color: #FFF !important;
    text-decoration: none;
    background-color: #0fa59e;
    outline: 0;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #000;
    background-color: rgb(20, 179, 172);
    border-color: rgb(21, 140, 135);
}
.caret {
    display:inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
   
}
span.multiselect-native-select {
	position: relative
}
span.multiselect-native-select select {
	border: 0!important;
	clip: rect(0 0 0 0)!important;
	height: 1px!important;
	margin: -1px -1px -1px -3px!important;
	overflow: hidden!important;
	padding: 0!important;
	position: absolute!important;
	width: 1px!important;
	left: 50%;
	top: 30px
}
.multiselect-container {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 0
}
.multiselect-container .input-group {
	margin: 5px
}
.multiselect-container>li {
	padding: 0
}
.multiselect-container>li>a.multiselect-all label {
	font-weight: 700
}
.multiselect-container>li.multiselect-group label {
	margin: 0;
	padding: 3px 20px 3px 20px;
	height: 100%;
	font-weight: 700
}
.multiselect-container>li.multiselect-group-clickable label {
	cursor: pointer
}
.multiselect-container>li>a {
	padding: 0
}
.multiselect-container>li>a>label {
	margin: 0;
	height: 100%;
	cursor: pointer;
	font-weight: 400;
	padding: 3px 0 3px 30px
}
.multiselect-container>li>a>label.radio, .multiselect-container>li>a>label.checkbox {
	margin: 0
}

.btn-group>.btn-group:nth-child(2)>.multiselect.btn {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px
}
.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
	padding: 3px 20px 3px 40px
}
.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
	margin-left: -20px;
	margin-right: 0
}
/*=============Dropdown list end===============*/

/*image Upload*/
/*.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
*/


/*image Upload end*/



/*=======model popup==========*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
  position:absolute;
}

.modal-dialog {
  display: block;
  text-align: left;
  vertical-align: middle;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 1;
}
/*=======model popup end==========*/

/* CSS used here will be applied after bootstrap.css */
/* custom checkboxes */
	.custom-checkbox > [type="checkbox"],
	.custom-checkbox > label{
		margin-bottom:0px !important;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked),
	.custom-checkbox > [type="checkbox"]:checked {
		position: absolute;
		left: -9999px;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label,
	.custom-checkbox > [type="checkbox"]:checked + label {
		position: relative;
		padding-left: 36px;
		cursor: pointer;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:checked + label:before {
		content: '';
		position: absolute;
		left:0; 
		top: 50%;
		margin-top:-12px;
		width: 27px; 
		height: 27px;
		border: 1px solid #ddd;
		background: #FFF;
		border-radius: 0px;
		outline:none;
	}
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after,
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		font: normal normal normal 14px/1 FontAwesome;
		content: '\f00c';
		position: absolute;
		top: 50%;
		margin-top: -12px;
		left: 0px;
		color: #FFF;
		transition: all .2s;
		width: 27px;
		height: 27px;
		background: rgb(15, 165, 158);
		text-align: center;
		padding-top: 6px;
	}
	
	.custom-checkbox > [type="checkbox"]:not(:checked) + label:after {
		opacity: 0;
		transform: scale(0);
		outline:none;
	}
	.custom-checkbox > [type="checkbox"]:checked + label:after {
		opacity: 1;
		transform: scale(1);
		outline:none;
	}
	
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after,
	.custom-checkbox > [type="checkbox"][data-indeterminate] + label:after {
		content: '\f068';
		left: 6px;
		opacity: 1;
		transform: scale(1);
		outline:none;
	}
	
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:before {
	  	box-shadow: none;
	  	background-color: #eeeeee;
		border-color: rgb(15, 165, 158);
		cursor: not-allowed;
		opacity: 1;
		color: #dadada;
		outline:none;
	}
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:after {
	  color: #dadada; cursor: not-allowed;
	  outline:none;
	}
	.custom-checkbox > [type="checkbox"]:disabled + label {
	  color: #aaa; cursor: not-allowed;
	}
	.custom-checkbox > [type="checkbox"]:checked:focus + label:before,
	.custom-checkbox > [type="checkbox"]:not(:checked):focus + label:before {
		border: 1px solid rgb(15, 165, 158);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
		outline:none;
	}
	.custom-checkbox > label:hover:before {
  		border: 1px solid rgb(15, 165, 158) !important;
		outline:none;
		transition: 0.4s;
		-webkit-transition:  0.4s;
	}
	.custom-checkbox > [type="checkbox"]:disabled:not(:checked) + label:hover:before,
	.custom-checkbox > [type="checkbox"]:disabled:checked + label:hover:before{
		border: 1px solid #7b499e !important;
		outline:none;
	}

.file {
  visibility: hidden;
  position: absolute;
}


/*==============radio button design===============*/
label.btn span {
    font-size: 14px;
    top: 0px;
    position: relative;
    right: 0px;
	text-transform: uppercase;
}

label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #cd1556;    display: inline;
}
label:hover input[type="radio"] ~ i.fa {
color: #7b499e;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #7AA3CC;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #7AA3CC;
}
.btn-group > .btn:hover, .btn-group-vertical > .btn:hover, .btn-group > .btn:focus, .btn-group-vertical > .btn:focus, .btn-group > .btn:active, .btn-group-vertical > .btn:active, .btn-group > .btn.active, .btn-group-vertical > .btn.active {
    z-index: 2;
    outline: none;
}
div[data-toggle="buttons"] label.active{
    color: #000;
}

div[data-toggle="buttons"] label {
display: inline-block;
padding: 6px 0px;
margin-bottom: 0;
font-size: 14px;
font-weight: normal;
line-height: 2em;
text-align: left;
white-space: nowrap;
vertical-align: top;
cursor: pointer;
background-color: none;
border: 0px solid 
#c8c8c8;
border-radius: 3px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}

div[data-toggle="buttons"] label:hover {
color: #cd1556;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}
/*==============radio button design end===============*/

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #e0dcdc;
    border-collapse: collapse;
}
/*form design*/
.form-signin {
    max-width: 700px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 16px;
}
#pass_form .form-control {
    display: block;
    width: 100%;
    height: 46px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#inner_box .form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 9px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
    -webkit-box-shadow:none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

#inner_box .form-control:not(input){
height:150px;
}

.voca .form-control:not(input){
height:auto !important;
}

.btn {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select, select[size="0"], select[size="1"] {
    border-radius: 0px;
    border-color:#FFF;
}

select {
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
    border-image: initial;
	padding:9px 16px;
}
/*form design end*/

@media (max-width:768px) {
.navbar-brand {
    float: left;
    height: 58px;
    padding: 13px 35px;
    font-size: 35px;
    line-height: 35px;
    width: 100%;
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fdaa83;
}
.lg-textBox{
width:200px !important;
}
}
@media (max-width:767px) {
.no-minpadding{padding:0 !important}
#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  z-index: 9999;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
    display: inline-block;
    position: absolute;
    float: left;
	z-index: 9;
}
.top-nav {
    padding: 0px 0px !important;
	background: rgb(245, 86, 11);
}
}
